* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: #A19FA0;
}

#containerUsers {
    display: grid;
    padding: 60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    column-gap: 60px;

}

.user-card {
    background-color: #392e29;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;
}


.user-card:hover {
    transform: translateY(5px);
    transition: 0.2s;
    background-color: #4e3d36;
    color: #ffffff;
}

.user-btn {
    display: inline-block;
    margin-top: 15px;
    width: 10vw;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #A19FA0;
    transition: 0.2s;
}

.user-btn:hover {
    background-color: #000000;
    color: #A19FA0;
    transition: 0.2s;
}